footer.footer
    .footer__logo
        img(src='/img/logo-color.png', alt='Mubea logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') About ASMA
        li: a(href='#') Contact
    p.footer__copyright &copy; by John Schmidt. All rights reserved. Feel free to use this project for your own purposes, EXPECT producing your own course or tutorials!

