extend base

block content
    main.main
        h1 About ASMA
        br
        h2
            | ASMA stands for &quot;Machine-Specific Malfunction Message Abortor&quot; and is a component of MubeaTrack.
            br
            | With ASMA it is possible to send machine-specific fault messages. These messages are intended exclusively for maintenance personnel and can only be acknowledged or cancelled by them.
            br
            | The integration of ASMA in MubeaTrack improves the process of fault reporting and enables efficient communication between plant operators and maintenance personnel.
            br
            | The clear allocation and listing of fault messages speeds up the exchange of information and the data can be used for evaluations and statistics.
            br
            | The implementation of ASMA extends the functionality of MubeaTrack and helps to further improve efficiency, productivity and quality at Mubea.
        section
            img.cta__img1(src=`/img/aboutASMA/mubeaDefect.jpg`, alt='Maschinedefekt')
            img.cta__img2(src=`/img/aboutASMA/webapplicationASMA.jpg`, alt='Department picture')
            //img.img1(src='/img/aboutASMA/mubea-ASMA.jpg', alt='mubea-ASMA')
            span.logoBildTextAboutMubeaASMA
                img.LogoBildAboutMubeaASMA(src='/img/Mubea_logo.svg.png', alt='Mubea logo')
                a.TrackTextAboutMubeaASMA ASMA
        br
        br