extend base

block content
  main.main
    h1 About MubeaTrack
    br
    h2
      | MubeaTrack is a web application developed as a client-server program using a MongoDB database.
      br
      | It serves as a basic framework (for a first web application) for managing users, machines and already existing departments.
      br
      | This basic framework makes it possible to implement specific capabilities and functions for each department in the future.
      br
      | An example of this would be the implementation of an electronic transmission of the current order list from the Planning department to the users of the machines.
      br
      | By using MubeaTrack, the exchange of information between the planning department and the machine operators would then be simplified and made more efficient, which would also save time and paper.
      br
      | This web application lays the foundation for successful digitalization and process optimization at Mubea. Enabling the optimization of workflows and improving the use of resources, it would also increase productivity and help the company modernize its operational processes and pave the way to a future-oriented, digitized work environment.
      br
      br
      | → Implemented ASMA is
