extends base

block content
    main.main
        h1 bin ASMAUnterhalt.pug
        a.btn.btn--small.btn--gray(href=`/api/v1/departments/${data.departmentName.toLowerCase()}`) Retour
        h1
        table
          each machine, index in data.machinery
              if index % 1 === 0
                  tr
                      td
                          span= machine.name
                          span(style=(machine.statusRun ? "background-color:green" : "background-color:red"))= machine.statusRun
                          a.btn.btn--small.btn--gray(href=`/api/v1/${data.departmentName}/ASMA/${machine.name}/MalReports`)= machine.name


              else
                  td
                      span= machine.name
                      span(style=(machine.statusRun ? "color:green" : "color:red"))= machine.statusRun
