extends base

block content
    main.main
        h1 bin ASMAUnterhalt.pug
        table
          each machine, index in data.machinery
              if index % 1 === 0
                  tr
                      td
                          span= machine.name
                          span(style=(machine.statusRun ? "background-color:green" : "background-color:red"))= machine.statusRun
                          a.btn()

              else
                  td
                      span= machine.name
                      span(style=(machine.statusRun ? "color:green" : "color:red"))= machine.statusRun
