extend base

block content
    main.main
      h1 Contact us

      p For any questions or concerns, you can contact us by e-mail, phone or mail:
      br
      ul
        li E-Mail: info@beispielunternehmenMubea.com
        li Phone: 9272
        li Postal address: Mubea Präzisionsstahlrohr AG, Industriestrasse 24, 9320 Arbon
