extends base

block content
    main.main
      h1 Contact us
      h2 For any questions or concerns, you can contact us by e-mail, phone or mail:
      br
      ul
        li
          h3 E-Mail: info@beispielunternehmenMubea.com
        li
          h3 Phone: 9272
        li
          h3 Postal address: Mubea Präzisionsstahlrohr AG, Industriestrasse 24, 9320 Arbon
      img.imgMubeaStandortArbon(src=`/img/contact/mubea-standort-arbon.jpg`, alt='mubea-standort-arbon picture')
