extends base

block content
    main.main.BackgroundImage
        .login-form
            h2.heading-secondary.ma-bt-lg Log into your account
            form.form.form--login
                .form__group
                    label.form__label1(for='employeeNumber') Employee number
                    input#employeeNumber(class="form__input" type="number" placeholder="70220" required="required" min="10000" max="99999")
                    //-input#employeeNumber(class="form__input" type="number" placeholder="70220" required="required" min="10000" max="99999")
                //-.form__group
                    //-label.form__label(for='email') Email address
                    input#email.form__input(type='email', autocomplete='email address', placeholder='you@example.com')
                .form__group.ma-bt-md
                    label.form__label1(for='password') Password
                    input#password.form__input(type='password', autocomplete='current-password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Login
                    br
                    br
                    a.btn.btn--little#helpButton(href='#') Help


                //.form__group
                    //-button#helpButton(type="submit") Help
                    a.btn.btn--green#helpButton(href='#') Hilfe
                script.
                    const employeeNumberInput = document.querySelector('#employeeNumber');
                    const helpButton = document.querySelector('#helpButton');

                    employeeNumberInput.addEventListener('input', () => {
                      if (employeeNumberInput.value === '70220') {
                        helpButton.style.color = 'red';
                        helpButton.setAttribute('href', '/api/v1/forgotPassword');
                        helpButton.removeAttribute('onclick');
                      } else {
                        helpButton.style.color = 'blue';
                        helpButton.setAttribute('onclick', "alert('Forgot Password? please call this number: 9272')");
                        helpButton.removeAttribute('href');
                      }
                    });
                    //-a(href='#') help
                    //-button(type='button', onclick="alert('Hilfe benötigt!')") hilfe