extend base

block content
    main.main
      h1 Hallo bin manageASMAMachine.pug
      h2 finde Anlage, frage, ob es zusätzSektoren hat
      h3 frage, wie die Komponenten aussehen
      h4 frage wie die details aussehen