extend base

block content
    main.main
      h1 Hallo manageUserMachine
      h2 entweder, finde user, und in denen abteilungen, in welchem er arbeitet, zeige maschine und weise ihn zu
      h3 oder finde abteilung, zeige alle user und alle maschinen, weise zu
      h4 oder finde anlage, finde abteilung, in welcher sie steht, suche alle user und weise zu