footer.footer
    .footer__logo
        img(src='/img/logo-color.png', alt='Mubea logo')
    ul.footer__nav
        if user
            li: a(href='/api/v1/aboutMubeaTrackInlogt') Über MubeaTrack
            li: a(href='/api/v1/aboutASMAInlogt') Über ASMA
            li: a(href='/api/v1/contactInlogt') Kontakt
        else
            li: a(href='/api/v1/aboutMubeaTrack') Über MubeaTrack
            li: a(href='/api/v1/aboutASMA') Über ASMA
            li: a(href='/api/v1/contact') Kontakt
    p.footer__copyright &copy; von John Schmidt. Alle Rechte vorbehalten. &nbsp &nbsp Version 1.0 &nbsp &nbsp
        span#p1
        script.
          var date = new Date();
          var current_date = date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear();
          document.getElementById("p1").innerHTML = current_date;
