extend base

block content
    main.main
        h1 Über ASMA
        br
        h2
            | ASMA steht für &quot;Anlagespezifischer Stör-Meldungs-Absetzer&quot; und ist ein Bestandteil von MubeaTrack.
            br
            | Mit ASMA besteht die Möglichkeit, anlagespezifische Störmeldungen abzusetzen. Diese Meldungen sind ausschließlich für das Unterhaltspersonal bestimmt und können auch nur von ihnen quittiert oder aufgehoben werden.
            br
            | Durch die Integration von ASMA in MubeaTrack wird der Prozess der Störmeldung verbessert und eine effiziente Kommunikation zwischen den Anlagenbedienern und dem Unterhaltspersonal ermöglicht.
            br
            | Durch die klare Zuweisung und Auflistung der Störmeldungen wird der Informationsaustausch beschleunigt und die Daten können für Auswertungen und Statistiken benutzt werden.
            br
            | Die Implementierung von ASMA erweitert die Funktionalität von MubeaTrack und trägt dazu bei, die Effizienz, Produktivität und Qualität in der Firma Mubea weiter zu verbessern.
        section
            img.cta__img1(src=`/img/aboutASMA/Maschinedefekt.jpg`, alt='Department picture')
            img.img1(src='/img/aboutASMA/M-ASMA.JPG', alt='MubeaTrack logo')
        br
        br
