extend base

block content
    main.main
        h1 Über MubeaTrack
        br
        h2
            | MubeaTrack ist eine Web-Applikation, die als Client-Server-Programm entwickelt wurde und eine MongoDB-Datenbank nutzt.
            br
            | Sie nutzt das Pug-Template-Engine, um Daten zu verwalten und mit ihnen zu interagieren.
            br
            | Sie dient als Grundgerüst (für eine erste Webapplication) zur Verwaltung von Benutzern, Maschinen und schon vorhandenen Abteilungen.
            br
            | Durch dieses Grundgerüst ist es möglich, zukünftig spezifische Fähigkeiten und Funktionen für jede einzelne Abteilung zu implementieren.
            br
            | Ein Beispiel hierfür wäre die Implementierung  von einer elektronische Übermittlung der aktuellen Auftragsliste von der Abteilung Planung an die Benutzer der Maschinen.
            br
            | Durch die Nutzung von MubeaTrack würde dann der Informationsaustausch zwischen der Planungsabteilung und den Anlagenbedienern vereinfacht und effizienter gestaltet, wodurch auch Zeit und Papier eingespart werden könnte.
            br
            | Diese Web-Applikation legt den Grundstein für eine erfolgreiche Digitalisierung und Prozessoptimierung in der Firma Mubea. Ermöglicht die Optimierung von Arbeitsabläufen und verbessert den Einsatz von Ressourcen, und würde somit auch die Produktivität steigern und die Firma dabei unterstützen, ihre betrieblichen Abläufe zu modernisieren und den Weg in eine zukunftsorientierte, digitalisierte Arbeitsumgebung zu ebnen.
            br
            br
            | Implementierungen in MubeaTrack:
            br
            br
            li "ASMA"
            br
            section.section-cta1
                img.imgAboutMubeaTrack1(src=`/img/aboutMubeaTrack/mongoDB.jpg`, alt='Department picture')
                img.imgAboutMubeaTrack2(src=`/img/aboutMubeaTrack/express-js.jpg`, alt='Department picture')
                img.imgAboutMubeaTrack3(src=`/img/aboutMubeaTrack/node-js.jpg`, alt='Department picture')
                img.imgAboutMubeaTrack4(src=`/img/aboutMubeaTrack/pug.jpg`, alt='Department picture')
                span.logoBildTextAboutMubeaTrack
                    img.LogoBildAboutMubeaTrack(src='/img/Mubea_logo.svg.png', alt='Mubea logo')
                    a.TrackTextAboutMubeaTrack Track