extends base

block content
    main.main
      h1 Kontaktieren Sie uns
      h2 Für alle Fragen oder Anliegen können Sie uns per E-mail, Telefon oder Post kontaktieren:
      br
      ul
        li
          h3 E-Mail: info@beispielunternehmenMubea.com
        li
          h3 Telefon: 9272
        li
          h3 Postadresse: Mubea Präzisionsstahlrohr AG, Industriestrasse 24, 9320 Arbon
      img.imgMubeaStandortArbon(src=`/img/contact/mubea-standort-arbon.jpg`, alt='mubea-standort-arbon picture')
