extend base

block content
    main.main
      h1 Kontaktieren Sie uns

      p Für alle Fragen oder Anliegen können Sie uns per E-mail, Telefon oder Post kontaktieren:
      br
      ul
        li E-Mail: info@beispielunternehmenMubea.com
        li Telefon: 9272
        li Postadresse: Mubea Präzisionsstahlrohr AG, Industriestrasse 24, 9320 Arbon
